.coin-table td {
  border-top: 1px solid #dee2e66c;
  padding: 8px 16px;
  height: 60px;
  font-size: 0.875rem;
  vertical-align: middle;
}
.coin-add-list {
  display: flex;
  align-items: center;
  .MuiSvgIcon-root {
    font-size: 18px;
    cursor: pointer;
    color: #999999;
  }
}

.MuiSvgIcon-root.coin-added {
  color: #ffcc66;
}

.coin-name {
  display: flex;
  align-items: center;
  img {
    height: 18px;
    width: 18px;
    margin-right: 24px;
  }
  h1 {
    font-size: 0.875rem;
  }
}
.coin-symbol {
  text-transform: uppercase;
}
.text-end {
  text-align: end;
}
.text-center {
  text-align: center;
}

.coin-percent.red {
  color: #e15241;
}
.coin-percent.green {
  color: #23af7d;
}
